.counter-container {
    height: 100vh;
    width: 100vw;

    .card-container {
        padding: 15px;
        background-color: lightgray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 4px;
    }
}